
<div class="grid simple">
  <div class="grid-title no-border">
    <h4>{{title}} <span class="semi-bold">Proposal</span></h4>
  </div>
 
  <div class="grid-body no-border">
    <form ng-submit="submitProposal()" id="proposalform" name="proposalform">
     
                <label class="form-label" for="proposalName">Proposal Name</label>
                <input tabindex="1" class="form-control input-sm" type="text"
                  name="proposalName" ng-model="proposalName" ng-maxlength="255"  ng-minlength="5" required>
                <div ng-messages="proposalform.proposalName.$error" style="color:maroon" role="alert">
                  <div ng-message="required">Please enter Proposal Name</div>
                  <div ng-message="maxlength">please enter maximum lenth 255</div>
                  <div ng-message="minlength">please enter minimum lenth 5</div>
                </div>  
                <br>
                <label class="form-label" for="clientName">Client</label>
                <select ng-model="clientName" ng-options="item.name for item in clients track by item.id" name="clientName" required>
                  <option value="">Select a client</option>
                </select>
                <div ng-messages="proposalform.clientName.$error" style="color:maroon" role="alert">
                  <div ng-message="required">Please select client</div>
                  
                </div> 
              <br>
                <label class="form-label" for="assigneeName">Assign To</label>
                <select ng-model="assigneeName" ng-options="item.name for item in assignee track by item.id" >
                  <option value="">Select a assignee</option>
                </select>
                <br>
                <label class="form-label" for="moreInfo">More Info</label>
               <textarea ng-model="moreInfo"></textarea>                               
               <br> 
     
          <input type="submit" id="submit" class="btn-option btn btn-primary small" value="{{buttonValue}}"/>
         <a href="javascript:void(0);" class="btn-option btn btn-default small">CANCEL</a>
       
    </form>
  </div>
</div>
