<div class="content">
                <div class="page-title">
                    <h3>Proposal</h3>
                </div>
                <div id="userList"  ng-init="userList()">
                
                    <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4 class="tip" data-toggle="tooltip" title="PSJA Users"><span class="semi-bold"> </span>Proposal List</h4>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                            </div>
                            <input type="text" ng-model="searchname">
                            </div>

                        <div class="grid-body no-border">
                            <div class="row">
                            <table class="table no-more-tables">
                                <thead>
                                    <tr>
                                       
                                        <th style="width:22%">Proposal Name</th>
                                        <th style="width:16%">Assigned To</th>
                                        <th style="width:28%">Client Name</th>
                                        <th style="width:5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="singleUser in getProposals">
                                       
                                        <td class="v-align-middle"><span class="muted">{{singleUser.Proposals.title}}</span></td>
                                        <td class="v-align-middle">
                                            <select ng-model="singleUser.User" ng-options="item.first_name for item in users track by item.id" ng-change="updateAssignee(singleUser.User,{{singleUser.Proposals.id}})">
                                          <option value="">Select a type</option>
                                        </select>
                                        </td>
                                        <td><span class="muted">{{singleUser.Client.name}}</span>
                                        </td>
                                        <td class="v-align-middle">
                                            <div class="tools">
                                                <a href="edit_users.html">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a data-trigger="focus" data-popover-content="#popover-content" data-placement="bottom" rel="popover" href="javascript:;" class="fa fa-times popover-close">
                                                    <div id="popover-content" class="hide">
                                                        
                                                        <button type="button" class="btn-yes remove btn btn-primary">YES</button>
                                                        <button type="button" class="btn-no btn btn-default">NO</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </td> 
                                    </tr>
                                    
                                    
                                </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>