<div class="content">
        
                <div class="page-title">
                    <h3>Proposal</h3>
                </div>
                

                <div id="userList"  ng-init="proposalList()">
                    
                    <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple">
                        <button ui-sref="base.addproposal()">Add Proposal</button>
                        <div class="grid-title no-border">
                            <h4 class="tip" data-toggle="tooltip" title="PSJA Users"><span class="semi-bold"> </span>Proposal List</h4>
                            
                            <input type="text" ng-model="searchValue" ng-keyup ="search()">
                            <select ng-model="pageno" ng-options="item for item in pages" ng-change="changePageNo()">
                            </select>
                            </div>
                            
                        <div class="grid-body no-border">
                            <div class="row">
                            <table class="table no-more-tables">
                                <thead>
                                    <tr>

                                        <th style="width:22%">Proposal Name</th>
                                        <th style="width:16%">Assigned To</th>
                                        <th style="width:28%">Client Name</th>
                                        <th style="width:5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr ng-repeat="singleProposal in getProposals">

                                        <td class="v-align-middle"><span class="muted"><a ui-sref="base.proposalview.info({Id : singleProposal.Proposals.id})"> {{singleProposal.Proposals.title}} </a></span></td>

                                        <td class="v-align-middle">
                                            <select ng-model="singleProposal.User" ng-options="item.name for item in users track by item.id" ng-change="updateAssignee(singleProposal.User,{{singleProposal.Proposals.id}})">
                                          <option value="">Select a type</option>
                                        </select>
                                        </td>
                                        <td><span class="muted">{{singleProposal.Client.name}}</span>
                                        </td>
                                        <td class="v-align-middle">
                                            <div class="tools">
                                                <a href="edit_users.html">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a data-trigger="focus" data-popover-content="#popover-content" data-placement="bottom" rel="popover" href="javascript:;" class="fa fa-times popover-close">
                                                    <div id="popover-content" class="hide">

                                                      <button ng-click="deactiveProposal(singleProposal.Proposals.id)" >Deactive</button>
                                                      <button ui-sref="base.editproposal({id: singleProposal.Proposals.id})">Edit</button>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr >{{proposal_data_message}}</tr>

                                </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
