<body class="error-body no-top login-bg ">
<div class="container">
        <div class="row login-container">
                <h2>LogIn</h2>
                               
            
            <div class="">
               
                <form ng-submit="loginform.$valid && LoggedIn()" id="login-form" class="login-form"  name="loginform">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="form-label">Email</label>
                            <div class="controls pos-rel">
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input type="email" name="txtusername" id="txtuseremail" class="form-control" ng-model="user.email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="form-label">Password</label>
                            <span class="help"></span>
                            <div class="controls pos-rel">
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input type="password" name="txtpassword" id="txtpassword" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="30" required>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" name="submit"  class="btn btn-primary btn-cons" value="Login">
                        </div>
                    </div>
                     <div class="form-label"> {{error}}</div>
                </form>

            </div>
        </div>
    </div>
    </body>
